
.hero-main {
  background-image: linear-gradient(
    -225deg,
    #F5F5DC 0%,
    #78A1BB 29%,
    #565554 67%,
    #B592A0 100%
  );
  background-size: 50% auto;  /*  width height */
  /* background-clip: text;
  text-fill-color: transparent; */
  -webkit-background-clip: text;  /* The background is painted within (clipped to) the foreground text. */
  -webkit-text-fill-color: transparent;  /* CSS property specifies the fill color of characters of text */
  animation: textclip 2s linear infinite;  /* select .hero-main class to be animate as a animation name textclip */
}

@keyframes textclip {
  to {
    background-position: 200% center;  /*position of bg image :  horizontal vertical*/
    /* meaning move bg img from .hero-main from define value to 200% of initial position in 2second linearly and infinite */
  }
}